extends ../layout/index 
block content 
    nav(class="bg-gray-800 border border.lg p-2 font-extrabolder h-30 text-xl")
        div(class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative flex h-16 items-center justify-between")
            div(class="absolute inset-y-0 left-0 flex items-center sm:hidden")
                button(id="mobile-menu-button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" type="button" aria-controls="mobile-menu" aria-expanded="false")
                    span(class="absolute -inset-0.5")
                    span(class="sr-only") open main menu
                    svg( class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true")
                        path(stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5")
            div(class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start")
                div( class="flex flex-shrink-0 items-center")
                
                    img(class="h-10 w-auto" src="/img/Grupo 1.png" alt="SPC company")

                    
                div(class="hidden sm:ml-6 sm:block space-x-4")
                
                    a(class="bg-gray-900 text-white rounded-md px-3 py-2 text-base font-medium" href="/admin-home" aria-current="page") Dashboard
                    a(class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium" href="admin-home/usuarios") Usuarios
                    a(class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium" href="admin-home/servicios") Servicios
                    a(class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium" href="/logout") Cerrar sesion 
            div( class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0")
                p#msg.text-white Bienvenido Administrador 
        div(id="mobile-menu" class="sm:hidden hidden")
            div(class="space-y-1 px-2 pb-3 pt-2")
                a(class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" href="/admin-home" aria-current="page") Dashboard
                a(class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" href="admin-home/usuarios") Usuarios
                a(class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" href="admin-home/servicios") Servicios
                a(class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" href="/logout") Cerrar sesion
    //- Cuerpo de la pagina 
    //- Cuerpo de la pagina 
    .bg-white.py-4.px-4.rounded-xl.mx-auto.max-w-6xl.my-10.border.shadow-x1.rounded-lg.border.border-gray-400.shadow-2xl(class="md:px-10")
        div.flex.flex-col(class="sm:flex-row justify-between")
            div(style="width: 100%; sm:width-48%;")
                p #{saludo}
                div(class="md:px-10")
                    canvas(id="myChart" width="250" height="100")
            div(style="width: 100%; sm:width-48%; sm:border mt-4")
            
                .bg-gradient-to-br.from-gray-100.to-gray-100.border.p-6.rounded-lg.shadow-lg.text-center.mt-8
                    p(class="text-gray-600 text-lg font-bold mb-2") Promedio de Dispositivos
                    hr(class="w-48 h-1 mx-auto my-4 bg-black border-0 rounded md:my-10 dark:bg-gray-700")
                    .mt-10.border.border-2xl.border-white.py-8.px-1.rounded-lg.shadow-2xl.text-center.text-gray-600.space-y-2
                        p(class="text-lg font-semibold") Laptop #{  (laptop * cifras).toFixed(2)}% 
                        p(class="text-lg font-semibold") Desk #{(Desktop * cifras).toFixed(2)}% 
                        p(class="text-lg font-semibold") Impresora #{(Impresora * cifras).toFixed(2)}% 
                        p(class="text-lg font-semibold") Multifuncional #{(Multifuncional * cifras).toFixed(2)}% 
                        p(class="text-lg font-semibold") Fotocopiadora #{(Fotocopiadora * cifras).toFixed(2)}%

                    
block scripts 
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="../js/chart.js")
    script.
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
        labels: ["Laptop", "Desktop","Fotocopiadora", "Multifuncional", "Impresora "],
        datasets: [{
        label: 'Total',
        data:[#{laptop}, #{Desktop}, #{Fotocopiadora}, #{Multifuncional}, #{Impresora}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
            }]
        },
     options: {elements: {
                arc: {
                    borderColor: '#fff', // Color del borde
            borderWidth: 2, // Ancho del borde
                },
            },
        animation:{
            duration:1500
        },
          scales: {
            y: {
              beginAtZero: false
          }
          },
      }
         });

